<div *ngIf="!isLoading" class="service-account-form">
  <h2>Edit Service Account</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- identique au template d’ajout -->
    <ng-container *ngTemplateOutlet="addForm"></ng-container>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="form.invalid || isSubmitting">
      Update
    </button>
  </form>
  <div class="alert" *ngIf="showAlert">
    <div [ngClass]="alertType">{{ alertMessage }}</div>
  </div>
</div>

<ng-template #addForm>
  <!-- Reprend exactement le contenu de service-account-add.component.html sans le <h2> et le bouton -->
</ng-template>
