.classic-auth-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
  
    .full-width {
      width: 100%;
    }
  
    button {
      margin-top: 1rem;
    }
  }
  