<div class="forgot-password-form">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email address</mat-label>
        <input matInput id="email" formControlName="email" placeholder="Enter your email">
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          Email address is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
  
      <button mat-flat-button color="primary" type="submit" class="full-width" [disabled]="forgotPasswordForm.disabled">
        <span *ngIf="!forgotPasswordForm.disabled">Send reset link</span>
        <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24" mode="indeterminate"></mat-progress-spinner>
      </button>
    </form>
  
    <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [type]="alert.type" [showIcon]="false">
      {{ alert.message }}
    </fuse-alert>
    
    <div class="form-footer">
      <span>Return to</span>
      <a [routerLink]="['/sign-in']" class="link">sign in</a>
    </div>
  </div>
  