<div class="reset-password-form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <!-- Token field -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Reset Token</mat-label>
        <input matInput type="text" formControlName="token" placeholder="Enter your token" [disabled]="tokenDetected">
        <mat-error *ngIf="resetPasswordForm.get('token')?.hasError('required')">
          Token is required
        </mat-error>
      </mat-form-field>
  
      <!-- New Password field -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput [type]="passwordFieldType" formControlName="newPassword" placeholder="Enter your new password">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility('newPassword')">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>
  
      <!-- Confirm New Password field -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput [type]="confirmPasswordFieldType" formControlName="passwordConfirm" placeholder="Confirm your new password">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility('passwordConfirm')">
          <mat-icon>{{ confirmPasswordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm')?.hasError('required')">
          Password confirmation is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm')?.hasError('mustMatch')">
          Passwords must match
        </mat-error>
      </mat-form-field>
  
      <!-- Submit button -->
      <button mat-flat-button color="primary" type="submit" class="full-width" [disabled]="resetPasswordForm.disabled">
        <span *ngIf="!resetPasswordForm.disabled">Reset your password</span>
        <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" mode="indeterminate"></mat-progress-spinner>
      </button>
    </form>
  
    <!-- Alert -->
    <div class="alert" *ngIf="showAlert">
      <div class="message" [ngClass]="{'success': alertType === 'success', 'error': alertType === 'error'}">
        {{ alertMessage }}
      </div>
    </div>
  
    <!-- Form footer -->
    <div class="form-footer">
      <span>Return to</span>
      <a [routerLink]="['/sign-in']" class="link">sign in</a>
    </div>
  </div>
  